<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/exam?useUnicode=true&amp;characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">validate</property>
    <mapping resource="exam/model/Recipe.hbm.xml"/>
    <mapping resource="exam/model/Ingredient.hbm.xml"/>
    <mapping resource="exam/model/Unit.hbm.xml"/>
    <mapping resource="exam/model/IngredientList.hbm.xml"/>
    <mapping resource="exam/model/Procedure.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
